.top{
    margin-top: 25px;
 text-decoration: none;
 
}
section{
    display: block;
}
div{
    display: block;
}
.top a{
    text-decoration: none;
    color:black;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    padding:20px;
    
}
.top input{
    color:white;
    font-size:20px ;
    background-color: black;
    border-radius: 10px;
    border-color: black;
    padding: 10px 20px;
    
}
.p1{
    background-color: black;
    margin-right: -8px;
    margin-left: -8px;
    margin-top: 20px;
}
.one img{
    padding-left: 610px;
    padding-top:100px;
    width:20%;
}
.one h1{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;

}
.one p{
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.one a{
    text-align: center;
    text-decoration: none;
    background-color:#01FF66;
    color:black;
    font-size: 18px;
    font-weight: 700;
    margin-left: 660px;
    border-radius: 10px;
    padding:15px 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.p2{
    background-color: white;
}
.two h1{
    color:black;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-align: center;
}
.two p{
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}
.content{
    display: flex;
}
.elements img{
    width:530px;
    margin-left:70px;
}
.sub img{
    width: 400px;
    margin-left:50px;
}
.sub li{
    margin-left: 50px;
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    
}
.part5 {
    background-color: #F9F9F9;
    margin-right: -8px;
}
.six h2{
    text-align: center;
    font-size: 39px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}
.six p{
    text-align: center;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.li{
    display: flex;
    margin-left: 310px;;
}
.li_1{
    margin-top: 160px;
    padding-right: 25px;
}
.li_1 li{
    list-style:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    text-align: right;
 
}
.li_2{
    background-color: white;
    width:400px;
    height: 500px;
    margin-top: 43px;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
}
.li_2 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 900;
    text-align: center;

}
.li_2 li{
    list-style:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    
}
.li_2 a{
    background-color: black;
    color:white;
    text-decoration: none;
    text-align: center;
    padding: 10px 30px;
    border: 1px;
    border-radius: 10px;
    margin-left: 120px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.division{
    background-color:black;
    width:420px;
    height: 600px;
    display: flex;
    border-radius: 20px;
}
.li_3{
    display: flex;
    margin-bottom: 10px;
}
.content{
    margin-top:70px;
    padding-left:70px;
    
}
.content h2{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    font-weight: 800;

}
.con_img img{
    width: 60px;
    margin-top: 90px;
}

.Li3 li{
    color:white;
    list-style: none;
    text-align: center;
   line-height: 36px;
   margin-left: -200px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
    font-weight: 400;
}
.anc{
margin-top: 480px;
margin-left: -190px;
}
.anc a{
    text-decoration: none;
    color:black;
    background-color: #01FF66;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight:600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.footer{
    background-color:black;
    padding: 50px;
    margin: 0px;
    margin-left: -20px;
    margin-right: -8px;
    margin-bottom: -10px;

}

.ten{
    border:2px solid;
    border-color:white ;
    border-radius: 20px;
    display: flex;
    padding: 40px 50px;
    margin:4%;
    background-color: #1D1D1D;;
  
    
}
.foot_img {
   max-width: 50%;
   padding: 15px 10px;
flex-grow: 1;
   
}
.para h2{
    color:white;
    padding-right: 280px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.para p{
    color:white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
   
}
.para a{
    text-decoration: none;
    background-color: #01FF66;
    color:black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 10px;
    padding :10px 20px;
}
.ten-1{
    display:flex;
    margin-left: 55px;
    padding:10px 20px;

}
.about h3{
    color:#808080;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}
.about p{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.recipe{
    margin-left:50px ;
}
.recipe h3{
    color:#808080;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    
}
.recipe a{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-decoration: none;
    line-height: 30px;
}
.quest{
    margin-left: 50px;
}
.quest h3{
    color:#808080;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
 
}
.quest li{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    list-style: none;
    line-height: 30px;
}
.ticker{
    margin-left:50px ;
}
.ticker h3{
    color:#808080;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    
}
.ticker a{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-decoration: none;
    line-height: 30px;
}
.more{
    margin-left:50px ;
}
.more h3{
    color:#808080;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    
}
.more a{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-decoration: none;
    line-height: 30px;
}
hr{
    width:90%;
}
.copy p{
    color:#7C7C7C;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
}
.last{
    display:flex;
    margin-left: 480px;
}
.ele_last a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 10px;
}